.btn-small {
  width: 48px;
}
.btn-medium {
  width: 64px;
}
.btn-large {
  width: 82px;
}

.btn-light {
  background-color: white;
  color: black;
  border: 1px solid black;
}

.btn-dark {
  background-color: black;
  color: white;
  border: 1px solid white;
}
