.listStyle {
  display: flex;
  list-style-type: none;
  gap: 1rem;
  padding: 0;
  margin: 0;
}

.Navbar {
  margin-left: 1rem;
  background-color: antiquewhite;
  width: fit-content;
  padding: 0.5rem;
}
